<div class="header">
    <h1>EAT A BURGER!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="eat">
            <h2>Eat a Burger!</h2>

            <div class="col left">

                <ul class="burgers-list">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        {{this.burger_name}}
                        <button type="button" class="change-eat btn" data-id="{{id}}" data-newBurger="{{burgers}}">

                            {{#if devoured}}DEVOURED{{else}}devoured{{/if}}
                        </button>

                        <button type="button" class="delete-burger" data-id="{{this.id}}">DELETE!</button>
                    </li>

                    {{/unless}}
                    {{/each}}

                </ul>
            </div>
        </div>
        <div class="col right">
            <div class="devoured-list">
                <h2>Ate a Burger!</h2>
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>{{this.burger_name}}</li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>


        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col">
            <div class="add-burger">
                <h2>Add a Burger!</h2>
                <form class="create-form" action="/api/burgers" method="POST">

                    <div class="form-group">
                        <label for="ca">Burger Name:</label>
                        <input type="text" class="burger_id" name="burger_name" value="">
                        <br><button class="btn" type="submit">ADD ME!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>